@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RazorPagesUserInterface.Pages.FormsIndexModel

<h2>@Model.Message</h2>
<form method="post" asp-antiforgery="true">
    <p>
        <label asp-for="produs.Name">Denumire</label><br />
        <input type="text" asp-for="produs.Name" />
    </p>
    <p>
        <label asp-for="produs.Price">Pret</label><br />
        <input asp-for="produs.Price" />
    </p>
    <p>
        <label asp-for="produs.Company">Producator</label><br />
        <input type="text" asp-for="produs.Company" />
    </p>
    <input type="submit" value="Trimite" />
</form>